// Styles
// name mixin after scss footer
@mixin footer($type: "") {
  // get Basesize in correct relation to design width
  $BS: getBaseSize($type);

  .footer {
    // background: $Gold;
    background: radial-gradient(circle at bottom left, $GoldLight, $Petrol $BS * 1450, $Gold 0);
    padding: $BS*220 $BS*146 0;
    color: $White;

    &__logo {
      width: $BS * 418;
      max-width: 100%;
      margin-bottom: $BS * 55;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        &:after {
          display: none;
        }
      }
    }

    &__downloads {
      margin-bottom: $BS*280;
    }

    &__img {
      max-width: 100%;
      max-height: $BS * 76;
    }

    &__sponsors {
      margin-bottom: $BS * 90;
    }

    &__contact {
      margin-bottom: $BS * 200;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0;
      }
    }

    &__logoWrapper {
      display: flex;
      justify-content: center;
      padding-bottom: $BS * 69;
    }

    &__logo {
      text-align: center;
      @include bsFontSize($BS, 36);
      line-height: 137.5%;
      color: $GoldLight;
    }
  }
}

// Add footer
@include footer();

// Add basic footer with breakpoints
@each $Breakpoint in $Breakpoints {
  @include breakpoint(#{$Breakpoint}) {
    @include footer(#{$Breakpoint});
  }
}

@include breakPointS() {
  $BS: getBaseSize('S');

  .footer {
    background: radial-gradient(circle at bottom left, $GoldLight, $Petrol $BS * 1000, $Gold 0);
    padding: $BS*200 $BS*40 $BS*40;

    &__logo {
      margin-bottom: $BS * 27.5;
    }

    &__sponsors, &__contact{
      margin-bottom: $BS*80;
    }

    &__downloads{
      margin-bottom: $BS*120;
    }
  }
}

@include breakPointXS() {
  $BS: getBaseSize('XS');

  .footer {
    background: radial-gradient(circle at bottom left, $GoldLight, $Petrol $BS * 900, $Gold 0);
    padding: $BS*200 $BS*40 $BS*40;

    &__logo {
      margin-bottom: $BS * 27.5;
    }

    &__sponsors, &__contact{
      margin-bottom: $BS*80;
    }

    &__downloads{
      margin-bottom: $BS*120;
    }
  }
}
