// Styles
// name mixin after scss footer
@mixin footer($type: "") {
    // get Basesize in correct relation to design width
    $BS: getBaseSize($type);
    .footer {
        // background: $Gold;
        background: radial-gradient(circle at bottom left, $GoldLight, $Petrol $BS * 1750, $Gold 0);
        padding: $BS*220 $BS*146 0;
        color: $White;
        &__logo {
            width: $BS * 418;
            max-width: 100%;
            margin-bottom: $BS * 55;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                &:after {
                    display: none;
                }
            }
        }
        &__downloads {
            margin-bottom: $BS*64;
        }
        &__img {
            max-width: 100%;
            max-height: $BS * 76;
        }
        &__sponsors {
            margin-bottom: $BS * 90;
        }
        &__contact {
            margin-bottom: $BS * 64;
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin: 0;
            }
        }
        &__logoWrapper {
            display: flex;
            justify-content: center;
            padding-bottom: $BS * 69;
        }
        &__logo {
            @include bsFontSize($BS, 36);
            line-height: 137.5%;
            color: $GoldLight;
        }
        &__socialContainer {
            margin-bottom: $BS * 30;
        }
        &__socialTitle {
            margin-bottom: $BS*16;
        }
        &__socialWrapper {
            position: relative;
            margin-right: $BS * 16;
            &:after {
                content: none;
            }
            &:last-child {
                margin-right: 0;
            }
            canvas {
                width: $BS * 38;
            }
            svg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}

// Add footer
@include footer();
// Add basic footer with breakpoints
@each $Breakpoint in $Breakpoints {
    @include breakpoint(#{$Breakpoint}) {
        @include footer(#{$Breakpoint});
    }
}

@include breakPointS() {
    $BS: getBaseSize('S');
    .footer {
        background: radial-gradient(circle at bottom left, $GoldLight, $Petrol $BS * 1700, $Gold 0);
        padding: $BS*200 $BS*40 $BS*40;
        &__logo {
            margin-bottom: $BS * 27.5;
        }
        &__sponsors,
        &__contact {
            margin-bottom: $BS*80;
        }
        &__downloads {
            margin-bottom: $BS*120;
        }
    }
}

@include breakPointXS() {
    $BS: getBaseSize('XS');
    .footer {
        background: radial-gradient(circle at bottom left, $GoldLight, $Petrol $BS * 1400, $Gold 0);
        padding: $BS*200 $BS*40 $BS*40;
        &__logo {
            margin-bottom: $BS * 27.5;
        }
        &__sponsors,
        &__contact {
            margin-bottom: $BS*80;
        }
        &__downloads {
            margin-bottom: $BS*120;
        }
    }
}