// wrap your code in a mixin
@mixin header($type: "") {
  // get Basesize in correct relation to design width
  $BS: getBaseSize($type);

  // define the styles of your component as designed
  .header {
    position: relative;
    margin: $BS*48 0 $BS*164;
    @include bsFontSize($BS, 22);
    font-family: $FontFamilyBold;

    &__content {
      display: flex;
      justify-content: center;
      color: $White;
    }

    &__nav {
      display: flex;
      align-items: center;
    }

    &__logo {
      color: $GoldLight;
      text-align: center;
      @include bsFontSize($BS, 36);
      line-height: 140%;
    }

    &__logoWrapper {
      margin: 0 $BS*80;
    }

    &__langSwitch {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      margin: 0;
      transform: rotate(90deg) translateX(110%) translateY($BS*-76);
      transform-origin: right top;

      li {
        padding: 0;

        &:before {
          content: none;
        }
      }
    }
  }
}

// Render basic styles as designed
@include header();

// Render basic styles with breakpoints
@each $Breakpoint in $Breakpoints {
  @include breakpoint(#{$Breakpoint}) {
    @include header(#{$Breakpoint});
  }
}

// Render custom styles with breakpoints
@include breakPointXS() {
  $BS: getBaseSize("XS");

  .header {
    &__nav {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.5);
      z-index: 90;
      transform: translateX(100%);
      transition: transform 0.5s ease-out;
    }

    &__mobileNavLabel {
      position: relative;
      display: block;
      z-index: 100;
    }

    &__mobileNavCheckbox {
      &:checked {
        &~.header {
          &__nav {
            transform: translateX(0);
          }
        }
      }
    }
  }
}
